CompileFlags:
  Add: 
    - "-std=c++23"
    - "--cuda-path=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.2"
  Remove: 
    - "-forward-unknown-to-host-compiler"
    - "-Xcompiler*"
    - "--generate-code*"
    - "-ccbin*"
    - "-O2"
    - "-fsanitize=address"
    - "-MDd"